@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
    background-color: rgba(26, 11, 46, 1);
}
/* shared code  */

/* nav btns  */
    .btns{
        width: 135px;
        height: 44px;
        font-size: 1rem;
        font-weight: 600;
        padding: 12px;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: none;
        border-radius: 10000px;
        cursor: pointer;
        color:#fff;
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8) ;
        transition: transform 0.3s ease;
        
    }
    .btns:hover{
        transform: scale(1.1);
    }
    
    /* banner btns  */
    .btns2{
         width: 200px;
        height: 44px;
        font-size: 1rem;
        font-weight: 600;
        padding: 12px;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: none;
        border-radius: 10000px;
        cursor: pointer;
        color:#fff;
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8) ;
        transition: transform 0.3s ease;
        
    }
     .btns2:hover{
        transform: scale(1.1);
    }

      .btns3{
         width: 145px;
        height: 44px;
        font-size: 1rem;
        font-weight: 600;
        padding: 12px;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid #00FF88;
        border-radius: 10000px;
        cursor: pointer;
        color:#00FF88;
        background: #ffffff00 ;
        transition: transform 0.3s ease;
        margin-left: 8px;
        
    }
     .btns3:hover{
        transform: scale(1.1);   
    }
    .gradient{
        background: -webkit-linear-gradient( #F7E93F, #FB09B4, #9100F8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    

    
/* head code  */
#logo{
    font-size: 2rem;
}
header{
    justify-content: space-between;
    display: flex;
    color:white;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar,.nav-item{
    display: flex;
}
.nav-item{
    list-style: none;
}
.nav-list{
    transition: transform 0.3s ease;
}
.nav-list:hover{
    transform: scale(1.1);
}
.nav-link{
    text-decoration: none;
    color:#Fff;
    margin-right:34px;
    font-size: 1rem;
    font-weight: 500;
  
}

/* banner reletade code  */
#banner {
    display: grid;
    width: 100%;
    height: auto;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    

}
.badge{
    z-index: 10;
    box-shadow: 0px 3px 27px 0 #00FF88;
    width: 75px;
    height: 30px;
    background-color:#00FF88;
    border-radius: 10000px;
    padding:8px 10px;
    font-size: 1.12rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color:rgba(26, 11, 46, 1);
    margin-top: -300px;
    margin-right: -230px;
    transition:transform 0.3s ease;
}
.badge:hover{
    transform: scale(1.1);
}

.banner-content{
    
    padding: 117px;
    background-repeat: no-repeat;
    margin-top: 150px;
    
    /* position:relative; */
    place-items: center;
    margin-bottom: 0px;
    display: grid;
    place-items: center;
    align-items: center;
}

 #img-container{
    position: absolute;

 }
#microphone{
    position: absolute;
    top:25%;
    left: 35%;
}
#banner-text{
   /* justify-content: center;
   align-items: center; */
   
   text-align: center;
   max-width: 550px;
    margin: 80px auto;

}
.banner-title{
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color:#fff;

}
.banner-details{
    color:#ffffffc6;
    font-size:1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
/* about code  */
.about-container{
    max-width: 1200px;
    margin: 0 auto;
}
.about-content{
    text-align: center;
    
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}
.about-details {
    font-size: 1rem;
    font-weight: 400;
    max-width: 700px;
    margin: 16px auto;
    color: #ffffffb8;
    margin-bottom: 30px;
}
.det-end{
     margin-bottom: 80px;
     color: #ffffffb8;
     font-size: 1rem;
     font-weight: 400;
}
.about-rating{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.rate-card{
text-align: center;
transition: transform 0.3s ease;
}
.rate-card:hover{
    transform: scale(1.1);
}
.rates{
color:#00FF88;
font-size: 3rem;
font-weight: black;
margin-top: 0;
margin-bottom: 16px;
}
.rater-details{
color:#fff;
font-size: 1rem;
font-weight: 400;

}

/* grids related code  */
#gridss{
     background-color: rgba(35, 14, 61, 1);
    padding: 120px;
}
.grid-title{
    text-align: center;
    font-size: 3rem;
    color:#fff;
}
.grid-container{
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3);
   
    gap: 30px;

}
.grd1{
    grid-column: span 2;
    grid-row:span 4;
    padding:100px 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    transition: transform 0.3s ease;
}
.grd1:hover{
    transform: scale(1.1);
}
.grd2{
    border-radius: 40px;
    grid-column: span 4;
    grid-row: span 2;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    transition: transform 0.3s ease;
}
.grd2:hover{
    transform: scale(1.1);
}
.grd3{
    border-radius: 40px;
    grid-column: span 4;
    grid-row: span 2;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    transition: transform 0.3s ease;
}
.grd3:hover{
    transform: scale(1.1);
}
.grd4{
    border-radius: 40px;
    grid-column: span 4;
    grid-row: span 2;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    transition: transform 0.3s ease;
}
.grd4:hover{
    transform: scale(1.1);
}
.grd5{
    border-radius: 40px;
    grid-column: span 2;
    grid-row: span 2;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    transition: transform 0.3s ease;
}
.grd5:hover{
    transform: scale(1.1);
}


.grids-title{
    font-size: 1.5rem;
    font-weight: 700;
    color:#fff;
}
.grids-details{
    font-size: 1rem;
    font-weight: 400;
    color:#ffffffb9;
}
/* featured section code  */
#featured-section{
    padding: 100px;
}
.f-section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color:#fff;
}
.featured-container{
   max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

}

.feature-card{
    width: 380px;
    border-radius: 24px;
    margin-bottom: 80px;
    transition: transform 0.3s ease;
    background-color:rgba(53, 17, 101, 0.4) ;
    
}
.feature-card:hover{
    transform: scale(1.1);
}
.frame-div{
    border-top-left-radius: 28px;
    border-top-right-radius:28px;
}
.featured-content{
    padding: 24px;
}
.featured-title{
    font-size: 1.5rem;
    font-weight: 700;
    color:#fff;
}
.featured-details{
    font-size: 1rem;
    font-weight: 400;
    color:#ffffffc5;
}
.duration{
    color:rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap:4px;
    align-items: center;
}
/* host related code  */
.host-container{
    max-width: 1200px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
   margin: 40px auto;
   display: flex;
   border-radius: 40px;
   gap:24px;
   transition: transform 0.3s ease;
}
.host-container:hover{
    transform: scale(1.1);
}
.host-name{
  font-size: 2rem;
  font-weight: 700;
  color:#fff;
  margin-bottom: 16px;
}
.host-details{
    font-size:1rem;
    font-weight: 400;
    color:#ffffffc5;
}


.icons-container{
    display: flex;
    gap: 8px;
   
   
}
.icons-container> div{
    border: 1px solid rgba(83, 60, 114, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform 0.3s ease;
}
.icons-container> div:hover{
    transform: scale(1.1);
}

/* footer code  */
footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
    height: 41.2vh;
    
   
   
  
   
}

.foot-container{
    display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 60px;
}
.foot-title{
    color:#fff;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.foot-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:40px;

}
.podcast{
    display: flex;
    align-items: center;
    gap:8px;
    color:#fff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.foot-end{
    color:#FFF;
    font-size: 1rem;
    font-weight: 400;
}


/* responsive  */
@media screen and (max-width:576px) {
    .nav-list, .btns{
        display: none;
    }
    
    .navbar{
        background-image: url(../assets/hamburger-menu.png);
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .about-title{
        font-size: 2rem;
    }
    .about-rating{
        grid-template-columns:repeat(2, 1fr)
    }
    #gridss, #featured-section {
    
    padding: 40px 20px;
}
.grid-title{
    font-size:1.9rem;
    margin-bottom: ;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
.grid-container>div{
    width: 280px;
        padding: 15px;
       margin-right:20px;
}
.grid-container>div:hover{
    transform: none;
}
.grids-title{
    font-size: 1rem;
    
    
}
.grids-details{
    font-size: 1rem;
    font-weight: 400;
    color:#ffffffb9;
}
#featured-section{
    padding: 0;
}
.f-section-title{
    font-size: 1.8rem;
}
.featured-container{
    grid-template-columns: repeat(1, 1fr);
  
}
.feature-card{
    margin-bottom: 16px;
    width: 340px;
}
.feature-card, .feature-card:hover{
   transform: none;
}
.host-container{
    flex-direction: column;
   
}
.host-container:hover{
   transform: none;
}
.host-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.host-content{
    text-align: center;
   
   
}
.icons-container{
   margin-left: 65px;
}
.foot-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.foot-title{
    margin-bottom: 16px;
}
.foot-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: auto;
    margin-bottom: 10px;
}
.podcast{
    margin-bottom: 10px;
}
}
    
